.myInput{
    width: 100%; /*ширина 100 % чтоб инпут растягивался на весь блок*/
    padding: 5px 15px; /*внутренние отступы*/
    margin: 5px 0;/*внешние отступы*/
    border: 1px solid teal;/*создаем рамку нашего приложения*/
}